body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.app {
  width: 100%;
  display: flex;
  justify-content: center;
}

.news-feed {
  flex: 0 0 30%;  
  background-color: antiquewhite;
}

.currency-converter {
  flex-grow: 1;
  background-color: black;
  color: #fff;
  padding: 4rem;
}

.exchange-rate {
  background-color: purple;
}